In [1]:
import pandas as pd

In [1]:
import plotly
import plotly.offline as py
py.init_notebook_mode(connected=True)
import plotly.graph_objs as go
import plotly.tools as tls

ImportError: No module named plotly

In [4]:
labels = ['Oxygen','Hydrogen','Carbon_Dioxide','Nitrogen']
values = [4500,2500,1053,500]

trace = go.Pie(labels=labels, values=values)

fig = dict(data = [trace])

py.iplot(fig, filename='basic_pie_chart')

In [5]:
df = pd.read_csv('data_plotly.csv')
df.head()

   Num_essai     T    E        N   eps         S
0          1  20.0  Air   1554.0  1.00  tournage
1          2  20.0  Air   8022.0  0.50  tournage
2          3  20.0  Air   7823.0  0.50  tournage
3          4  20.0  Air  51340.0  0.25      poli
4          5  20.0  Air  84201.0  0.25      poli

In [6]:
df.columns.tolist()

['Num_essai', 'T', 'E', 'N', 'eps', 'S']

In [7]:
df['E'].value_counts()

REP    11
Air     9
Name: E, dtype: int64

In [8]:
trace = go.Pie(labels=df['E'].value_counts().index, values=df['E'].value_counts().values)

py.iplot([trace], filename='E.html')